$main-margin-sides: 160px;
$page-width: 1120px;

$color-container-white: #fff;
$color-text-black: #1C2A39;
$color-text-gray: #5C6A79;
$color-text-white: #FFFFFF;
$color-button: #4C3DB2;

* {
    padding: 0;
    margin: 0;
}